/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Added box-sizing, end-of-reset comment.
*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend, table, caption, 
  tbody, tfoot, thead, tr, th, td, article, 
  aside, canvas, details, embed, figure, 
  figcaption, footer, header, hgroup, menu, nav, 
  output, ruby, section, summary, time, mark, 
  audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /**********************************************/
  /* END OF CSS RESET. ACTUAL CSS STARTS BELOW. */
  /**********************************************/
  
*{
    font-family: Arial, Sans-Serif;
}

h2{
    font-size: 1.5rem;
    font-display: bold;
    text-align: center;
}

h3{
    font-size: 1.2rem;
    font-display: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3px;
}

em{
    font-style: italic;
}

body, html{
    height: 100%;
}
    
.js-backGround{
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
    
/*   PAGES   */

.js-pageViewSplashHtml{
    position: fixed;
    background-image: url('../Images/Splash_Page.jpg');
}

.js-pageViewGameBoardHtml{
    position: fixed;
    background-image: url('../Images/Wood.jpg');
    background-size: cover;
    display: none;
}

.js-pageViewInfoHtml{
    position: fixed;
    background-color: snow;
    display: none;
}

.js-pageViewRulesHtml{
    display: none;
}

.js-pageViewMovesHtml{
    display: none;
}

.icons{
    width: 90vw;
}

/****************/
/*   PORTRAIT   */
/****************/

@media (orientation:portrait) {
    
    .upperRightContainer{
        display: none;
    }
    
    .lowerRightContainer{
        display: none;
    }

    .gamePageContainer{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 14vh 1fr 100vw 1vh;
        grid-template-areas:
            'header'
            'controls'
            'chessboard'
            '.';
    }
    
    .upperContainer{
        grid-area: header;
        display: grid;
        grid-template-columns: 5% 3fr 1fr 1fr 3%;
        grid-template-rows: 23% auto;
        grid-gap: 1.5vw;
        margin: 0 0 1vh;
        justify-items: left;
    }
    
    .gameTitlePort{
        height: 5vh;
        grid-column: 2 / span 2;
    }
    
    .gameTitlePort img{
        width: 100%;
    }
    
    .scoreBoard{
        width: 100%;
        height: 90%;
        border-radius: 7px;
        padding: 2px, 8px, 2px;
        font-size: 0.9rem;
        font-weight: bold;
        color: rgb(65, 159, 247);
        background-color: yellow;
        grid-column: 2/3;
    }
    
    .scoreTable{
        width: 100%;
        font-size: 1em; 
        align-self: start;
    }
    
    th{
        text-align-: center; 
    }
    
    .queenDisplay{
        grid-column: 3/4;
    }
    
    .queenDisplay img{
        width: 100%;
    }
    
    .lowerContainer{
        grid-area: controls;
        display: grid;
        background-image: url('../Images/Button_Frame_Background.jpg');
        background-size: cover;
        border-radius: 10px;
        border: solid black 6px;
        width: 90vw;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 33% auto;
        grid-template-areas: 
            '. rules .'
            'undo reset redo'
            '. loadsave .';
        justify-items: center;
    }

    .textPageContainer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
            '. header'
            'text text';
    }
    
    .js-backButton{
        grid-area: header;
        justify-self: end;
        background: Transparent;
        border: none;
    }
    
    .scrollableContent{
        grid-area: text;
        height: 90vh;
        overflow: auto;
        padding: 3vw;
    }
    
    /*   BUTTONS   */
    
    .navButton{
        grid-column: 4/ span 2;
        height: 9vh;
        width: 23vw;
        background: Transparent;
        border: none;
    }
    
    /* .navButton:focus{
        height: 10vh;
        width: 26vw;
        background: no-repeat url('../Images/Buttons/Button_Glow.png');
        background-size: cover;
    } */
    
    .rulesButton{
        grid-area: rules;
        grid-column: 2 / span 1;
    }
    
    .undoButton{
        grid-area: undo;
        grid-column: 1 / span 1;
    }
    
    .resetButton{
        grid-area: reset;
        grid-column: 2 / span 1;
    }
    
    .redoButton{
        grid-area: redo;
        grid-column: 3 / span 1;
    }
    
    .loadSaveButton{
        grid-area: loadsave;
        grid-column: 2 / span 1;
    }
    
    .js-infoButton{
        position: absolute;
        top: 0.5vh;
        right: 3vw;
    }
    
    .js-infoButton img{
        height: 8vh;
    }
    
    .js-backButton img{
        height: 8vh;
    }
    
    .queenButton{
        position: absolute;
        bottom: 10px;
        left: 7px;
        background-image: url('../Images/Buttons/Queen_Button.png');
        background-size: cover;
        background: Transparent;
        border: none;
    }
    
    .queenButton img{
        height: 20vh;
    }
    
    .queenButton:focus{
        background: no-repeat url('../Images/Buttons/Queen_Button_Glow.png');
        background-size: contain;
    }
    
    .gameButton{
        width: 20vw;
    }

    .boardContainer{
        grid-area: chessboard;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-image: url('../Images/Chess_Board.jpg');
        background-size: cover;
        border: 0;
        width: 100%;
    }
    
    .js-movesButton{
        background: Transparent;
        border: none;
    }
    
    .js-movesButton img{    
        height: 14vw;
    }

    .square {
      border: solid 1px rgba(0,0,0,0.1);
      position: relative;
    }

    .square:hover {
      box-shadow: 0 0 1px 2px rgba(0,255,0,0.6);
    }

    .handles-tl {
      border-top: solid 2px green;
      border-left: solid 2px green;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 2px;
      left: 2px;
    }

    .handles-tr {
      border-top: solid 2px green;
      border-right: solid 2px green;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 2px;
      right: 2px
    }

    .handles {
      display: none;
    }

    .square:hover > .handles {
      display: block;
    }

    .diagram{
        height: 95vw;
    }

    .savesPageContainer{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-areas: 
            '. nav header'
            'title title title';
    }

    .savedGamesTitle{
        grid-area: title;
        align-self: start;
        font-size: 1.5rem;
        font-display: bold;
        text-align: center;
    }

    .js-signUpNavButton{
        grid-area: nav;
        align-self: start;
        justify-self: center;
        background: Transparent;
        border: none;
    }

    .js-backButtonSavesPage{
        grid-area: header;
        align-self: start;
    }

    .js-signUpNavButton img{
        height: 14vw;
    }

    .gameButtonsContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            'buttons buttons buttons buttons';
    }

    .js-gameButton{
        grid-area: buttons;
        grid-column-start: auto;
        grid-column-end: auto;
        justify-self: center;
        background: Transparent;
        border: none;
    }

    .js-gameButton img{
        height: 11.5vw;
    }

    .credentialsPageContainer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
            'blank header';
    }

    .js-backButtonCredentialsPage{
        grid-area: header
    }
}

/*****************/
/*   LANDSCAPE   */
/*****************/

@media (orientation:landscape) {
    
    .upperContainer{
        display: none;
    }
    
    .lowerContainer{
        display: none;
    }
    
    .gamePageContainer{
        display: grid;
        grid-template-columns: 1vw 100vh 1fr;
        grid-template-rows: 3.5fr 6.5fr;
        grid-template-areas: 
            '. chessboard header'
            '. chessboard controls';
    }
    
    .upperRightContainer{
        grid-area: header;
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 0.5% 3fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5vh;
        height: 33vh;
        margin: 0 0 1vh;
        grid-template-areas: 
            '. title button'
            '. score display';
    }
    
    .gameTitleLand{
        grid-area: title;
        width: 20vw;
        grid-column: 2/4;
    }
    
    .gameTitleLand img{
        height: 15vh;
    }
    
    .scoreBoard{
        grid-area: score;
        width: 100%;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: bold;
        padding-top: 4px;
        color: rgb(65, 159, 247);
        background-color: yellow;
        grid-column: 2/4;
    }
    
    .scoreTable{
        width: 100%;
        font-size: 1em; 
        align-self: start;
    }
    
    th{
        text-align-: center; 
    }
    
    .queenDisplay{
        grid-area: display;
        grid-column: 4/5;
    }
    
    .queenDisplay img{
        height: 15vh;
    }
    
    .lowerRightContainer{
        grid-area: controls;
        display: grid;
        background-image: url('../Images/Button_Frame_Background.jpg');
        background-size: cover;
        border-radius: 10px;
        border: solid black 6px;
        width: 90%;
        height: 56vh;
        margin: 0 auto;
        grid-template-columns: 2px 1fr 1fr 1fr 2px;
        grid-template-rows: 2vh repeat(4, 12vh);
        grid-template-areas: 
            '. . . . .'
            '. . rules . .'
            '. undo . redo .'
            '. . reset . .'
            '. . loadsave . .';
        justify-items: center;
    }
    
    .rulesButton{
        grid-area: rules;
    }
    
    .rulesButton img{
        height: 10vh;
        width: auto;
    }
    
    .undoButton{
        grid-area: undo;
    }
    
    .undoButton img{
        height: 10vh;
        width: auto;
    }
    
    .redoButton{
        grid-area: redo;
    }
    
    .redoButton img{
        height: 10vh;
        width: auto;
    }
    
    .resetButton{
        grid-area: reset;
    }
    
    .resetButton img{
        height: 10vh;
        width: auto;
    }
    
    .loadSaveButton{
        grid-area: loadsave;
    }
    
    .loadSaveButton img{
        height: 10vh;
        width: auto;
    }
    
    /*   BUTTONS   */
    
    .navButton{
        height: 10vh;
        background: Transparent;
        border: none;
    }
    
    .navButtonBox{
        grid-area: button;
        grid-column: 3/ span 2;
    }
    
    /* .navButton:focus{
        height: 10vh;
        background: no-repeat url('../Images/Buttons/Button_Glow.png');
        background-size: cover;
    } */
    
    .js-infoButton{
        position: absolute;
        top: 0.5vh;
        right: 1vw;
    }
    
    .js-infoButton img{
        height: 8vw;
    }

    .js-backButton img{
        height: 8vw;
        width: auto;
    }
    
    .queenButton{
        position: absolute;
        bottom: 10px;
        left: 7px;
        background-image: url('../Images/Buttons/Queen_Button.png');
        background-size: cover;
        background: Transparent;
        border: none;
    }
    
    .queenButton img{
        height: 20vw;
    }
    
    .queenButton:focus{
        background: no-repeat url('../Images/Buttons/Queen_Button_Glow.png');
        background-size: contain;
    }
    
    .gameButton{
        width: 20vh;
    }

    .boardContainer{
        grid-area: chessboard;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-image: url('../Images/Chess_Board.jpg');
        background-size: cover;
        border: 0;
        grid-column: 2/3;
    }
    
    .square{
        height: 12.5vh;
        width: 12.5vh;
        background-size: cover;
        float: left;
    }

    .textPageContainer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
            'title header'
            'text text';
    }

    .title{
        grid-area: title;
        align-self: center;
    }
    
    .js-backButton{
        grid-area: header;
        justify-self: end;
        background: Transparent;
        border: none;
    }
    
    .scrollableContent{
        grid-area: text;
        height: 75vh;
        overflow: auto;
        padding: 3vw;
    }
    
    .js-movesButton{
        background: Transparent;
        border: none;
    }
    
    .js-movesButton img{
        height: 14vh;
    }

    .diagram{
        height: 75vh;
    }

    .savesPageContainer{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-areas: 
            'title nav header';
    }

    .savedGamesTitle{
        grid-area: title;
        align-self: center;
        font-size: 1.5rem;
        font-display: bold;
        text-align: center;
    }

    .js-signUpNavButton{
        grid-area: nav;
        justify-self: center;
        background: Transparent;
        border: none;
    }

    .js-signUpNavButton img{
        height: 16vh;
    }

    .gameButtonsContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            'buttons buttons buttons buttons';
    }

    .js-gameButton{
        grid-area: buttons;
        grid-column-start: auto;
        grid-column-end: auto;
        background: Transparent;
        border: none;
    }

    .js-gameButton img{
        height: 11.5vh;
    }
}

/*   GAME BOARD   */

:root{
    --squareBackground: url('../Images/Buttons/Button_Glow.png');
}

.visited{
    background-color: rgba(243, 203, 44, 0.6);
    background-size: cover;
}

.occupied{
    background: url('../Images/2D_Pieces/Queen.png');
    background-color: rgba(243, 203, 44, 0.6);
    background-size: cover;
}