/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Added box-sizing, end-of-reset comment.
*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend, table, caption, 
  tbody, tfoot, thead, tr, th, td, article, 
  aside, canvas, details, embed, figure, 
  figcaption, footer, header, hgroup, menu, nav, 
  output, ruby, section, summary, time, mark, 
  audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /**********************************************/
  /* END OF CSS RESET. ACTUAL CSS STARTS BELOW. */
  /**********************************************/
  
*{
    font-family: Arial, Sans-Serif;
}

h2{
    font-size: 1.5rem;
    font-display: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4px;
}

h3{
    font-size: 1.2rem;
    font-display: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3px;
}

body, html{
    height: 100%;
}
    
.js-backGround{
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
    
/*   PAGES   */

.js-pageViewSplashHtml{
    position: fixed;
    background-image: url('../Images/Splash_Page.jpg');
}

.js-pageViewGameBoardHtml{
    position: fixed;
    background-image: url('../Images/Wood.jpg');
    background-size: cover;
    display: none;
}

.js-pageViewInfoHtml{
    position: fixed;
    background-color: snow;
    display: none;
}

/****************/
/*   PORTRAIT   */
/****************/

@media (orientation:portrait) {
    
    .upperRightContainer{
        display: none;
    }
    
    .lowerRightContainer{
        display: none;
    }

    .gamePageContainer{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 14vh 1fr 100vw 1vh;
        grid-template-areas:
            'header'
            'controls'
            'chessboard'
            '.';
    }
    
    .upperContainer{
        grid-area: header;
        display: grid;
        grid-template-columns: 5% 3fr 1fr 1fr 5%;
        grid-template-rows: 23% auto;
        grid-gap: 1.5vw;
        margin: 0 0 1vh;
    }
    
    .gameTitlePort{
        height: 5vh;
        grid-column: 2 / span 2;
    }
    
    .gameTitlePort img{
        width: 100%;
    }
    
    .navButtonBox{
        grid-column: 4/ span 2;
    }
    
    .navButtonBox img{
        width: 100%;
    }
    
    .scoreBoard{
        width: 100%;
        height: 90%;
        border-radius: 7px;
        padding: 2px, 8px, 2px;
        font-size: 0.9rem;
        font-weight: bold;
        color: rgb(65, 159, 247);
        background-color: yellow;
        grid-column: 2/3;
    }
    
    .scoreTable{
        width: 100%;
        font-size: 1em; 
        align-self: start;
    }
    
    th{
        text-align-: center; 
    }
    
    .queenDisplay{
        grid-column: 3/4;
    }
    
    .queenDisplay img{
        width: 100%;
    }
    
    .lowerContainer{
        grid-area: controls;
        display: grid;
        background-image: url('../Images/Button_Frame_Background.jpg');
        background-size: cover;
        border-radius: 10px;
        border: solid black 6px;
        width: 90vw;
        margin: 0 auto;
        grid-template-columns: 1r 1fr 1fr;
        grid-template-rows: 33% auto;
        grid-template-areas: 
            '. rules .'
            'undo reset redo'
            '. loadsave .';
        justify-items: center;
    }
    
    .rulesButton{
        grid-area: rules;
        grid-column: 2 / span 1;
    }
    
    .undoButton{
        grid-area: undo;
        grid-column: 1 / span 1;
    }
    
    .resetButton{
        grid-area: reset;
        grid-column: 2 / span 1;
    }
    
    .redoButton{
        grid-area: redo;
        grid-column: 3 / span 1;
    }
    
    .loadSaveButton{
        grid-area: loadsave;
        grid-column: 2 / span 1;
    }
    
    /*   BUTTONS   */
    
    .navButton{
        height: 10vh;
        background: Transparent;
        border: none;
    }
    
    /* .navButton:focus{
        height: 10vh;
        background: no-repeat url('../Images/Buttons/Button_Glow.png');
        background-size: cover;
    } */
    
    .js-infoButton img{
        height: 8vh;
    }
    
    .js-backButton img{
        height: 8vh;
    }
    
    .queenButton{
        position: absolute;
        bottom: 10px;
        left: 7px;
        background-image: url('../Images/Buttons/Queen_Button.png');
        background-size: cover;
        background: Transparent;
        border: none;
    }
    
    .queenButton img{
        height: 20vh;
    }
    
    .queenButton:focus{
        background: no-repeat url('../Images/Buttons/Queen_Button_Glow.png');
        background-size: contain;
    }
    
    .gameButton{
        width: 20vw;
    }

    .boardContainer{
        grid-area: chessboard;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-image: url('../Images/Chess_Board.jpg');
        background-size: cover;
        border: 0;
        width: 100%;
    }
    
    .square{
        height: 12.5vw;
        width: 12.5vw;
        background-size: cover;
        float: left;
    }
}

/*****************/
/*   LANDSCAPE   */
/*****************/

@media (orientation:landscape) {
    
    .upperContainer{
        display: none;
    }
    
    .lowerContainer{
        display: none;
    }
    
    .gamePageContainer{
        display: grid;
        grid-template-columns: 1vw 100vh 1fr;
        grid-template-rows: 3.5fr 6.5fr;
        grid-template-areas: 
            '. chessboard header'
            '. chessboard controls';
    }
    
    .upperRightContainer{
        grid-area: header;
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 0.5% 3fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5vh;
        height: 33vh;
        margin: 0 0 1vh;
    }
    
    .gameTitleLand{
        width: 20vw;
        grid-column: 2/4;
    }
    
    .gameTitleLand img{
        height: 15vh;
    }
    
    .navButtonBox{
        grid-column: 4/ span 2;
    }
    
    .navButtonBox img{
        width: 100%;
    }
    
    .scoreBoard{
        width: 100%;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: bold;
        padding-top: 4px;
        color: rgb(65, 159, 247);
        background-color: yellow;
        grid-column: 2/4;
    }
    
    .scoreTable{
        width: 100%;
        font-size: 1em; 
        align-self: start;
    }
    
    th{
        text-align-: center; 
    }
    
    .queenDisplay{
        grid-column: 4/5;
    }
    
    .queenDisplay img{
        height: 15vh;
    }
    
    .lowerRightContainer{
        grid-area: controls;
        display: grid;
        background-image: url('../Images/Button_Frame_Background.jpg');
        background-size: cover;
        border-radius: 10px;
        border: solid black 6px;
        width: 90%;
        height: 56vh;
        margin: 0 auto;
        grid-template-columns: 2px 1fr 1fr 1fr 2px;
        grid-template-rows: 2vh repeat(4, 12vh);
        grid-template-areas: 
            '. . . . .'
            '. . rules . .'
            '. undo . redo .'
            '. . reset . .'
            '. . loadsave . .';
        justify-items: center;
    }
    
    .rulesButton{
        grid-area: rules;
    }
    
    .rulesButton img{
        height: 10vh;
        width: auto;
    }
    
    .undoButton{
        grid-area: undo;
    }
    
    .undoButton img{
        height: 10vh;
        width: auto;
    }
    
    .redoButton{
        grid-area: redo;
    }
    
    .redoButton img{
        height: 10vh;
        width: auto;
    }
    
    .resetButton{
        grid-area: reset;
    }
    
    .resetButton img{
        height: 10vh;
        width: auto;
    }
    
    .loadSaveButton{
        grid-area: loadsave;
    }
    
    .loadSaveButton img{
        height: 10vh;
        width: auto;
    }
    
    /*   BUTTONS   */
    
    .navButton{
        height: 10vh;
        background: Transparent;
        border: none;
    }
    
    /* .navButton:focus{
        height: 10vh;
        background: no-repeat url('../Images/Buttons/Button_Glow.png');
        background-size: cover;
    } */
    
    .js-infoButton img{
        height: 8vh;
    }
    
    .js-backButton img{
        height: 8vh;
    }
    
    .queenButton{
        position: absolute;
        bottom: 10px;
        left: 7px;
        background-image: url('../Images/Buttons/Queen_Button.png');
        background-size: cover;
        background: Transparent;
        border: none;
    }
    
    .queenButton img{
        height: 20vh;
    }
    
    .queenButton:focus{
        background: no-repeat url('../Images/Buttons/Queen_Button_Glow.png');
        background-size: contain;
    }
    
    .gameButton{
        width: 20vh;
    }

    .boardContainer{
        grid-area: chessboard;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-image: url('../Images/Chess_Board.jpg');
        background-size: cover;
        border: 0;
        grid-column: 2/3;
    }
    
    .square{
        height: 12.5vh;
        width: 12.5vh;
        background-size: cover;
        float: left;
    }
}

/*   GAME BOARD   */



.A8{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/A8.jpg'); */
}

.B8{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/B8.jpg'); */
}

.C8{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/C8.jpg'); */
}

.D8{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/D8.jpg'); */
}

.E8{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/E8.jpg'); */
}

.F8{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/F8.jpg'); */
}

.G8{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/G8.jpg'); */
}

.H8{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/H8.jpg'); */
}

.A7{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/A7.jpg'); */
}

.B7{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/B7.jpg'); */
}

.C7{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/C7.jpg'); */
}

.D7{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/D7.jpg'); */
}

.E7{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/E7.jpg'); */
}

.F7{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/F7.jpg'); */
}

.G7{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/G7.jpg'); */
}

.H7{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/H7.jpg'); */
}

.A6{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/A6.jpg'); */
}

.B6{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/B6.jpg'); */
}

.C6{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/C6.jpg'); */
}

.D6{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/D6.jpg'); */
}

.E6{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/E6.jpg'); */
}

.F6{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/F6.jpg'); */
}

.G6{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/G6.jpg'); */
}

.H6{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/H6.jpg'); */
}

.A5{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/A5.jpg'); */
}

.B5{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/B5.jpg'); */
}

.C5{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/C5.jpg'); */
}

.D5{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/D5.jpg'); */
}

.E5{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/E5.jpg'); */
}

.F5{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/F5.jpg'); */
}

.G5{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/G5.jpg'); */
}

.H5{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/H5.jpg'); */
}

.A4{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/A4.jpg'); */
}

.B4{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/B4.jpg'); */
}

.C4{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/C4.jpg'); */
}

.D4{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/D4.jpg'); */
}

.E4{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/E4.jpg'); */
}

.F4{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/F4.jpg'); */
}

.G4{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/G4.jpg'); */
}

.H4{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/H4.jpg'); */
}

.A3{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/A3.jpg'); */
}

.B3{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/B3.jpg'); */
}

.C3{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/C3.jpg'); */
}

.D3{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/D3.jpg'); */
}

.E3{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/E3.jpg'); */
}

.F3{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/F3.jpg'); */
}

.G3{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/G3.jpg'); */
}

.H3{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/H3.jpg'); */
}

.A2{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/A2.jpg'); */
}

.B2{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/B2.jpg'); */
}

.C2{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/C2.jpg'); */
}

.D2{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/D2.jpg'); */
}

.E2{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/E2.jpg'); */
}

.F2{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/F2.jpg'); */
}

.G2{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/G2.jpg'); */
}

.H2{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/H2.jpg'); */
}

.A1{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/A1.jpg'); */
}

.B1{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/B1.jpg'); */
}

.C1{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/C1.jpg'); */
}

.D1{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/D1.jpg'); */
}

.E1{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/E1.jpg'); */
}

.F1{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/F1.jpg'); */
}

.G1{
    /* background-color: hotpink; */
    /* background-image: url('../Images/Squares/G1.jpg'); */
}

.H1{
    /* background-color: greenyellow; */
    /* background-image: url('../Images/Squares/H1.jpg'); */
}

.textPageContainer{
    display: grid;
}

.scrollableContent{
    height: 90vh;
    overflow: auto;
    padding: 3vw;
}

.icons{
    width: 90vw;
}

  /**************************************************/
  /* EVERYTHING BELOW HERE IS FROM RANSOM NOTE APP. */
  /**************************************************/

/*


p{
    font-weight: 600;
    padding-top: 0.75em;
}

.techNote{
    font-weight: 300;
    font-size: 0.8em;
}

.js-pageViewMainHtml{
    height: 100%;
    padding: 10px;
    background-image: url('Main_Back.jpg');
    background-size: initial;
    background-repeat: repeat;
    background-color: linen;
}

.mainBox{
    width: 350px;
    border: solid 1px grey;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: rgba(234, 234, 234, 0.85);
}

.js-pageViewRansomNoteHtml{
    position: relative;
    height: 100vh;
}

h1{
    font-size: 1.2em;
    font-weight: 800;
    padding-top: 15px;
    text-align: center;
}

.js-textForm{
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    background: #302f2f;
    text-align: center;
}

.finalHint{
    width: 310px;
    height: 18px;
    margin: 0 auto;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: limegreen;
}

.buttonForm{
    position: absolute;
    bottom: 3px;
    width: 100%;
}

.buttonBox{
    margin: 0 auto;
    padding-bottom: 1vh;
    min-height: 30px;
    height: 5vh;
    width: 200px;
}

.js-button{
    font-family: 'Archivo Black', roboto, sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgb(6, 32, 146);
    border-color: rgb(59, 147, 173);
    background-color: rgb(174, 236, 255);
    font-size: .9em;
    font-weight: 700;
}

.ransomButtonBox{
    width: 320px;
}

.js-shuffleButton, .js-distortButton, .js-undistortButton{
    display: inline-block;
    width: 30%;
}

.js-userButton{
    width: 65%;
}

.instructionsBox{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
    width: 85vw;
    max-height: 70vh;
    overflow: auto;
    background-color: rgb(234, 234, 234);
    border: 3px solid gray;
}

.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.js-inputLine{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    width: 190px;
}

.js-lineLabel{
    padding-right: 4px;
}

.countDown{
    display: inline-block;
    width: 40px;
    margin-left: 4px;
    padding-top: 2px;
    border: 1px solid gray;
    background-color: white;
}

.display{
    position: absolute;
    width: 100%;
    top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0.7vh;
    background-color: black;
}

.picTray{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 13vh;
    background-color: black;
    color: white;
}

.js-charPic{
    width: 5.2vw;
    height: 5.2vw;
    padding-left: 1px;
    padding-right: 1px;
}

.space{
    display: inline-block;
    width: 2.6vw;
    background-color: black;
}

*/